table, th, td {
	border: 1px solid #aaa;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
}

th {
	background-color: #00f;
	color: white;
	padding-right: 40px;
	text-align: left;
}

.alternate {
	background-color: #ccc;
}

.ascend {
	background-image: url(ascend.png);
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgb(146, 153, 254);
}

.descend {
	background-image: url(descend.png);
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgb(146, 153, 254);
}
