table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid rgb(160,160,160);
    text-align: left;
}
th {
	background-color: #003399;
	color: white;
	padding-right: 1rem;
}
th:hover {
	cursor: pointer;
}
.alternate {
	background-color: rgb(184,184,184);
}
.ascend {
	background-image: url(ascend.png);
	background-color: #3399FF;
	background-repeat: no-repeat;
	background-position: right;
}
.descend {
	background-image: url(descend.png);
	background-color: #3399FF;
	background-repeat: no-repeat;
	background-position: right;
}