table, th, td {
    border: 1px solid gray;
}

th {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right;
}

th:hover {
    background-color: rgba(255, 255, 255, 0.5);  /*从当前颜色向白色转变*/
}

td, th {
    text-align:left;
    padding:3px 25px 2px 7px;
}

table {
    border-collapse:collapse;
}

thead {
    background-color: #003399;
    color: white;
}