table {
	font-family: Arial, Helvetica, sans-serif;
}

table thead {
	background-color: #000099;
	color: white;
}

table, th, td{
	border: 1px solid gray;
	border-collapse: collapse;
}

th, td {
	text-indent: 5px;
	padding-right: 20px;
}
