body {
	font-family: Georgia;
}

table {
	font-family: Arial,Helvetica,FreeSans,sans-serif;
	font-size: 14px;
	border: 1px solid #BBB;
	border-collapse: collapse;
}

th {
	text-align: left;
	font-weight: bold;
	border: 1px solid #BBB;
	border-spacing: -1px;
	padding: 3px 22px 3px 4px;
	background-color: rgb(4, 26, 128);
	color: white;
}

td {
	border: 1px solid #BBB;
	border-spacing: -1px;
	padding: 3px 6px 3px 4px;
}

tr.alternate td {
	background-color: rgb(220, 222, 221);
}

img {
	text-align: left;
	float: right;
	margin-right: -20px;
}