body{
	width: 500px;
	height: 500px;
	margin: auto;
	padding-top: 30px;
}
h2{
	font-weight: bolder;
}
table{
	text-align: left;
	line-height: 1.2em;
	text-indent: 0.5em;
	font-family: Arial,Verdana,Sans-serif;
	border-collapse:collapse;
}
th{
	background-color: rgb(2,28,125);
	color: white;
	padding-right: 1.5em;
	position: relative;
}
th,td{
	border: solid 1px #bbbbbb;
}
tr:nth-child(even){
	background-color: rgb(221,221,221);
}
.triangle{
	position: absolute;
	right: 2px;
}