body {
	font-family: Verdana, Geneva, sans-serif;
}

table {
	text-align: left;
	border-collapse: collapse;
}

th, td {
	border: 1px solid gray;
}


thead {
	background-color: #00008B;
	color: white;
	cursor: pointer;
}

.alternate {
	background-color: #DCDCDC;
}

#staff {
	width: 30%;
}

.ascend {
	background-color: #C2C2E3;
	background-image: url("ascend.png");
	background-repeat: no-repeat;
	background-position: right;
	border-color: #C2C2E3;
}

.descend {
	background-color: #C2C2E3;
	background-image: url("descend.png");
	background-repeat: no-repeat;
	background-position: right;
	border-color: #C2C2E3;
}

.initial {
	background-color: #00008B;
}

