* {
	margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

td, th {
	border-top: 1px solid rgba(221,221,221,1);
	border-left: 1px solid rgba(221,221,221,1);
	padding: 4px;
	text-align: left;
	padding-right: 20px;
}

th {
	font-weight: bold;
	color: white;
	background-color: rgba(2,28,123,1);
	cursor: pointer;
}

table {
	border-spacing: 0;
	border-bottom: 1px solid rgba(221,221,221,1);
	border-right: 1px solid rgba(221,221,221,1);
	margin-left: 50px;
}

h1, h2 {
	margin: 20px; 
	margin-left: 50px;
}

.ascend {
	background: url("ascend.png");
	background-position: right;
	background-repeat: no-repeat;
	background-color: rgba(164,176,252,1);
}

.descend {
	background: url("descend.png");
	background-position: right;
	background-repeat: no-repeat;
	background-color: rgba(164,176,252,1);
}

tr:nth-child(even) {
	background-color: rgba(221,221,221,1);
}

