* {
    margin: 0;
    padding: 0;
}

h1 {
	margin-left: 10px;
}

h2 {
	margin: 20px 10px 20px;
}

table {
	border-collapse: collapse;
	border: 1px solid #ccc;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 30px;
}

thead > tr {
    color: #fff;
    background-color: #021c7d;
}

th {
	font-weight: bold;
	color: white;
	height: 26px;
	background-color: rgba(2,28,123,1);
}

th, td {
	height: 26px;
	display: table-cell;
    padding-right: 30px;
    padding-left: 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
}

.ascend {
	background: url("ascend.png");
	background-position: right;
	background-repeat: no-repeat;
	background-color: rgba(164,176,252,1);
}

.descend {
	background: url("descend.png");
	background-position: right;
	background-repeat: no-repeat;
	background-color: rgba(164,176,252,1);
}