/**
 * FileName: sorter.css;
 * Author: linyiting;
 */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/**
 * 表格样式
 */
table, tr, th, td {
	border: 1px solid gray;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
	text-align: left;
	background-color: rgba(0, 0, 128, 1);
	color: white;
	font-style: bolder;
    padding-right: 20px;
}

/**
 * 表格的偶数行，背景颜色变为灰色
 */
.alternate {
    background-color: rgba(221, 221, 221, 1);
}

/**
 * 设置栏目被点击是改变的样式
 * .ascend-style: 升序样式;
 * .descend-style: 降序样式;
 */
.ascend-style {
    background-color: rgba(165, 176, 252, 1);
    background-image: url("ascend.png");
    background-position: right;
    background-repeat: no-repeat;
}
.descend-style {
	background-color: rgba(165, 176, 252, 1);
    background-image: url("descend.png");
    background-position: right;
    background-repeat: no-repeat;
}
