table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	text-align: left;
}

table, th, td {
	border: 1px solid rgb(182, 194, 236);
}

th {
	color: white;
	font-weight: bold;
	background-color: rgb(3, 27, 125);
	background-position: right;
	background-repeat: no-repeat;
}

#staff th {
	padding-right: 30px;
}

.alternate {
	background-color: rgb(222, 222, 222);
	background-repeat: no-repeat;
}

img {
	float: right;
}