
* {
    font-weight: bolder;
    font-family: sans-serif;
}
    th {
    background-color: rgb(5, 5, 140);
    color: white;
    text-align: left;
}

table {
    border-collapse: collapse;
}

th, td {
    border: solid 1px #B6A9A9;
}

.ascending {
    background: url(./ascend.png) no-repeat #D7DDFD right;
}

.descending {
    background: url(./descend.png) no-repeat #D7DDFD right;
}
.even {
    background-color: rgb(220,220,220);
}
.odd {
    background-color: white;
}