body{
	font-family: "微软雅黑";
}
table
{
	cellspacing: 0;
	cellpadding: 5;
	background-color: #D3D8E0;
	
	/*border: 1px #4F7FC9 solid;*/
}
thead
{
	background-color: rgb(0, 0, 128);
	color: white;
}
tr>th{
	text-align: left;
	padding: 0 20px 0 0;
	background-image: url(descend.png);
	background-repeat: no-repeat;
	background-position: right;
}
tr>th:hover{
	background-color: rgb(166, 175, 252);
	cursor: pointer;

}
tbody{
	background-color: rgb(255, 255, 255);
}
tr.alternate{
	background-color: rgb(211, 211, 211);
}
