body{
	font-family: "Times New Roman", serif;
}
h1{
	font-size: 24px;
}
h2{
	font-size: 24px;
}
table{
	text-align: left;
	border-collapse:collapse;
	font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
}  

table th,table td{
	border:1px solid gray;
}
th{
	color:white;
	background-color: #031B7F;
	font-style:bold;
}
.thup{
	background-image: url("ascend.png");
	background-repeat: no-repeat;
	background-position: right;
}
.thdown{
	background-image: url("descend.png");
	background-repeat: no-repeat;
	background-position: right;
}
#staff th,#staff td{
	width:130px;
}