table, td, th {
  border:1px solid darkgray;
  border-collapse:collapse;
  padding: 3px;
  text-align: left;
 }
th {background-color: blue;
    color:white;
    font-weight: 300%;
}
tr {background:white;} 
tr:nth-child(2n) {
background:darkgray; 
}
