h1, h2 {
	font-family: Georgia;
}

th, td {
	border: 1pt solid #C0C0C0;
	padding-left: 5px;
}

table {
	border-collapse: collapse;
	text-align: left;
}

#todo {
	width: 416px;
}

#staff {
	width: 360px;
}

thead {
	background-color: #00008B;
	color: white;
	font-family: "微软雅黑";
}

tbody {
	font-family: "Helvetica", sans-serif;
}

.alternate {
	background-color: #DCDCDC;
}