body {
	font-family: "Microsoft Yahei", serif, Georgia;
}

th {
	background-color: #191970;
	color: white;
	font-weight: bold;
}

th:hover {
	cursor: pointer;
}

table {
	text-align: left;
	border-collapse:collapse;
}

table,th, td {
	border: 1px solid #B7B7B7;
	padding: 0 5px;
}

tr:nth-child(even) td{
	background-color: #DBDBDB;
}


#staff th:nth-child(1){
	width: 110px;
}

#staff th:nth-child(2) {
	width: 110px;
}

#staff th:nth-child(3) {
	width: 140px;
}
