/*
*    Filename: sorter.css
*    Description: A simple css.
*    Last modified: 2014-10-28 09:37
*
*    陈炜健 － 13331018
*    Email: eleveneat@gmail.com
*/
table {
	border: 1px grey solid;
	border-spacing: 0px;
}
th  {
	border: 1px grey solid;
	background-color: rgba(3, 12, 110, 1);
	color: white;
	text-align: left;
	padding-right: 40px;
}
td {
	border: 1px grey solid;
	padding-right: 40px;
}
.alternate {
	background-color: rgba(214, 214, 214, 1);
}
.ascend {
	background-color: rgba(150, 156, 255, 1);
	background-image: url(images/ascend.png);
	background-repeat: no-repeat;
	background-position: top right;
}
.descend {
	background-color: rgba(150, 156, 255, 1);
	background-image: url(images/descend.png);
	background-repeat: no-repeat;
	background-position: top right;
}
