body {
    padding-left: 10px;
}

h1, h2 {
    font-family: "Times New Roman", serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Helvetica", "Arial", sans-serif;
}

th, td {
    border: 1px solid #aaaaaa;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
}

th {
    padding-right: 24px;
}

thead tr {
    background-color: rgba(3,3,128,1);
    color: white;
}

tbody tr:nth-child(2n) {
    background-color: rgba(222,222,222,1);
}
