* {
    margin: 0;
    padding: 0;
}

h1 {
	margin-left: 10px;
}

h2 {
	margin: 20px 10px 20px;
}

table {
	border-collapse: collapse;
	border: 1px solid #ccc;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 30px;
}

th {
	font-weight: bold;
	color: white;
	height: 26px;
	background-color: rgba(2,28,123,1);
}

th, td {
	height: 26px;
    padding-right: 30px;
    padding-left: 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
}
