table, th, td {
	border: 1px solid gray;
	text-align: left;
}
table {
    border-collapse: collapse;
}
#todo {
    width: 500px;
}
#staff {
	width: 430px;
}
th {
	background-color: rgb(0, 0, 130);
	color: white;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: right;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: white;
}
.changeAscend {  /*升序排列样式*/
	background-color: rgb(60, 140, 200);
	background-image: url(ascend.png);
}
.changeDescend {	/*降序排列样式*/
	background-color: rgb(60, 140, 200);
	background-image: url(descend.png);
}
.nochange {	 /*非排序列样式*/
	background-color: rgb(0, 0, 130);
}