table {
	border-collapse:collapse;
}

thead th:hover {

}

table th, table td{
	border: 1px solid gray;
}

thead {
	background-color: #120562;
	color: white;
}

.ascend-icon {
  background-image: url('ascend.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  float: right;
}

.descend-icon {
  background-image: url('descend.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  float: right;
}