body {
	font-family: Arial, sans-serif;
}

table {
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
	border-collapse: collapse;
}

#todo {
	width: 500px;
}

#staff {
	width: 400px;
}

table td {
	border-left:1px solid #C0C0C0;
	border-top:1px solid #C0C0C0;
	padding: 4px;
}

table th {
	border-left:1px solid #C0C0C0;
	border-top:1px solid #C0C0C0;
	text-align: left;
	color: white;
	background-color: #021C7B;
	padding: 4px;
	cursor: pointer;
}

.alternate {
	background-color: #DDDDDD;
}

.ascend {
	background-color: #A4ACFC;
	background-image: url(ascend.png);
	background-position: center right;
	background-repeat: no-repeat;
}

.descend {
	background-color: #A4ACFC;
	background-image: url(descend.png);
	background-position: center right;
	background-repeat: no-repeat;
}