table {
	border :1px solid #ccc;
	border-collapse: collapse;
}

table th {
	border:1px solid #ccc;
	background-color: #220088;
	color: white;
	cursor: pointer;
}

table td {
	border:1px solid #ccc;
}

.alternate {
	background-color: #DDDDDD;
}

